
.work__container{
    display: grid;
    grid-template-columns: repeat(3,max-content);
    gap: 3rem;
    justify-content: center;
}

.work__card{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1.25rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: var(--mb-2);
}
.work__img{
    width: 295px;
    height: 200px;
    
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
    transform: scale(1);
    transition: .2s;
}
.work__card:hover .work__img{
    transform: scale(1.01);
}

.work__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.work__button{
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
}
.work__button-icon{
    font-size: 1rem;
    transition: .2s;
}

.work__card:hover .work__button-icon{
    transform: translateX(.25rem);
}

.projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1150px) {
    .work__container{
        grid-template-columns: repeat(2,1fr);
    }
 }

 @media screen and (max-width: 768px) {
    .work__container{
        grid-template-columns: max-content;
        row-gap: .5rem;
    }
 }
 @media screen and (max-width: 380px) {
    .work__container{
        grid-template-columns: max-content;
    }
    .work__card{
        padding: .75rem;
    }
    .work__img{
        width: 265px;
        height: 170px;
    }
 }